<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>this is texting for game</title>
    <link rel="stylesheet" href="http://test.static.yedadou.com/public/pay/css/??public.css,pure-min.css,font-awesome-4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
	step: 50,
	    top: 0,
	    left: 0,
	    range: [1060, 500],
	    user: 

  <div id="container" style="background-image:url('img/scene2.png')">
      <button id="change">change</button>
  </div>
  <div ng-app="controlPanel">
	<div class="component-panel-wrap" ng-controller="panel1">
		<div class="component-panel">
		  	<div class="component-panel-header">USER(添加玩家)</div>
		  	<div class="component-panel-body">
		  		<div>
		  			<label for="">step:</label>
		  			<input type="text" ng-model="userPanel.step">
		  		</div>
		  		<div>
		  			<label for="">top:</label>
		  			<input type="text" ng-model="userPanel.top">
		  		</div>
		  		<div>
		  			<label for="">left:</label>
		  			<input type="text" ng-model="userPanel.left">
		  		</div>
		  		<div>
		  			<label for="">range:</label>
		  			<input type="text" ng-model="userPanel.range">
		  		</div>
		  		{{userPanel}}
		  		<button class="cus-btn cus-btn-md cus-btn-green" ng-click="add()">添加</button>
		  	</div>
		  </div>
		</div>
	</div>
  <script data-main="js/main.js" src="js/require.js"></script>
</body>
</html>